.item{
   background: transparent;
   width: 100%;
   margin-top: 100px;
   border: 1px solid transparent;
}

.item .top {
    width: 100%;
    background: transparent;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.item .top .title {
    text-align: right;
    padding-left: 10px;
}

.item .top .date p{
    background: var(--color-white);
    color: red;
    font-size: .9rem;
    transform: translateX(2px);
    padding: 4px;
    padding-left: 20px;
}

.item .under {
    padding: 5px;
    text-align: center;
}

.item .under p{
    margin: 0 10px;
}

.item a {
    border: 1px solid var(--color-white);
    background: var(--color-white);
    color: black;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    padding: 6px 25px;
}

.item a:hover {
    border: 1px solid var(--color-white);
    background: transparent;
    color: #000;
}

.item .top .title {
    z-index: 5;
}

.item .top .date {
    z-index: 4;
    text-align: left;
}