.input-area {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input-area input {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}