footer {
    position: fixed;
    padding: 2px;
    text-align: center;
    left: 50%;
    bottom: 15px;
    color: var(--color-white);
    transform: translateX(-50%);
    z-index: 5;
    opacity: .6;
}

footer a:hover{
    color: var(--color-dark-second);
}

@media screen and (min-width: 2px) {
    
    footer .mobile {
        display: inline;
    }
    footer .pc {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    
    footer .mobile {
        display: none;
    }
    footer .pc {
        display: inline;
    }
}


